<!DOCTYPE html>
<html lang="en">

<head>
  <% include head %>
</head>

<body class="container">

  <header>
    <% include header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>This is great</h1>
      <p>Welcome to templating using EJS</p>

      <h2>Variable</h2>
      <p>
        <%= tagline %>
      </p>

      <h2>Loop</h2>

      <div>
        <% quotesarray.forEach(function(quote) { %>
          <div>
            <h3><%= quote.name %></h3>
            <p> <%= quote.quote %></p>
          </div>
        <% }); %>
      </div>


    </div>
  </main>

  <footer>
    <% include footer %>
  </footer>

</body>

</html>
