<!DOCTYPE html>
<html>

<header>
  <% include ../partials/head %>
</header>


<body class="container">
    <header>
      <% include ../partials/header %>
    </header>

  <main>
    <div class="jumbotron">

      <h2>Quotes!</h2>

    </div>
  </main>


  <footer>
    <p class="text-center text-muted">© Copyright 2018 Some People</p>
  </footer>

</body>

</html>
