<!DOCTYPE html>
<html>

<header>
  <% include ../partials/head %>
</header>


<body class="container">
    <header>
      <% include ../partials/header %>
    </header>

  <main>
    <div class="jumbotron">

      <h2>All Students</h2>

          <ul>
            <% students.forEach(function(student) { %>
              <li>
                <a href="/student?id=<%= student._id %>"> <%= student.name %> </a>
              </li>
            <% }); %>
          </ul>


    </div>
  </main>


  <footer>
    <p class="text-center text-muted">© Copyright 2018 Some People</p>
  </footer>

</body>

</html>
