<!DOCTYPE html>
<html>

<header>
  <% include ../partials/head %>
</header>


<body class="container">
    <header>
      <% include ../partials/header %>
    </header>

  <main>
    <div class="jumbotron">

      <h2>All Students</h2>

          <ul>
            <% users.forEach(function(user) { %>
              <li>
                <a href="/profile?username=<%= user.login.username %>"> <%= user.name.title+" "+user.name.first+" "+ user.name.last %> </a>
              </li>
            <% }); %>
          </ul>


    </div>
  </main>


  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
